[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "==0.27.0"
fastapi = "==0.109.0"
sqlalchemy = "==2.0.25"
httpx = "==0.26.0"
python-dotenv = "==1.0.0"
pydantic-settings = "==2.1.0"
pydantic = {extras = ["email"], version = "==2.5.3"}
python-multipart = "==0.0.6"
requests = "*"
faker = "*"
google-auth = "*"
jwt = "*"
pyjwt = "*"
python-jose = "*"
hkdf = "*"
slack-sdk = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
